/* Try to make it look like the packagekit module. "Stolen" from cockpit's file
   pkg/packagekit/updates.scss. */
.content-header-extra {
    background: #f5f5f5;
    border-bottom: 1px solid #ddd;
    padding: 10px 20px;
    width: 100%;
    z-index: 900;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    min-height: 4rem;

    @media screen and (min-width: 640px) {
        position: sticky;
    }

    &--state {
        /* Make the height similar to the button (2px padding + 1px border) */
        padding: 3px 0;
    }

    &--state {
        flex: 100 1 auto;
        padding-right: 1ex;
    }
}
